.new-nav {
	width: 100%;
	height: 40px;
	background-color: #232f3e;
	position: relative;
	top: 60px;
}

.new-nav .nav-data {
	display: flex;
	justify-content: space-between;
}

.new-nav .nav-data .left-data {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex: 1;
}

.new-nav .nav-data .left-data p {
	color: #fff;
	font-weight: 500;
	font-size: 13px;
}

/* media query */
@media (max-width: 808px) {
	.new-nav {
		display: none;
	}
}
